<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ky.android.photo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".ImagePreviewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Transparent"
            android:exported="false" />

    </application>

</manifest>